$primaryColor: #f39366;

$lightGrey: #f2f2f2;

$green: #63da60;
$lightGreen: #cbf1ca;
$lightBlue: #c2eaf6;
$blue: #65aaea;
$yellow: #fff3b7;
$orange: #ffc2a5;
$red: #f36666;

$fontFamily: "Noto Sans KR", sans-serif;
